<%= bootstrap_form_tag(url: exhibit_harvests_path(exhibit_id: current_exhibit),
                       html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= label_tag :url, 'URL:', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= text_field_tag :url, nil, class: 'form-control' %>
    </div>
  </div>
  <div class="form-actions">
    <div class="primary-actions">
      <%= cancel_link "", :back, class: 'btn btn-secondary' %>
      <%= f.submit t('.add_item'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
