<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { t('record_feedback.header') } %>

  <% component.with_body do %>
    <%= bootstrap_form_for(@contact_form || Spotlight::ContactForm.new(current_url: request.original_url),
                           url: main_app.exhibit_record_feedback_path(current_exhibit), as: 'contact_form',
                           html: { data: { turbo: false } }) do |f| %>
      <%= render '/spotlight/shared/honeypot_field', f: f %>
      <%= f.hidden_field :current_url %>

      <div class="modal-body">
        <div class="mb-3">
          <%= t('.form_help') %>
        </div>

        <%= f.text_area :message, rows: 4, label: t('.message') %>
        <%= f.email_field :email, label: t('.email') %>
      </div>

      <div class="modal-footer">
        <%= button_tag(t('.close'), class: 'btn btn-outline-dark', data: { 'dismiss': 'modal' }) if request.xhr? %>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
<% end %>
