<% facet_configuration = blacklight_config.facet_fields[field_name] %>

<div
  data-date-range-selector
  data-date-range-selector-original-field="<%= field_name %>"
  data-date-range-selector-paths="<%= date_range_switcher_query_paths(field_name).to_json %>"
>
  <form autocomplete="off">
    <div class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 col-lg-5 pt-0 text-nowrap"><%= t('date_range_calendar') %></legend>
        <div class="col-sm-10 col-lg-7">
          <% facet_configuration[:configured_range_fields].each do |field| %>
            <div class="form-check">
              <%= radio_button_tag :selected_range_field, field[:field], (field[:field] == field_name), class: 'form-check-input' %>
              <%= label_tag "selected_range_field_#{field[:field]}", t("date_field_label_#{field[:type]}"), class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </form>

  <div class='custom-range-limit-container'>
    <%= render 'blacklight_range_limit/range_limit_panel', field_name: field_name %>
  </div>
</div>
