<h2 class="h3"><%= t(".#{contributors.provider_field_key}.total_html", total: number_with_delimiter(contributors.total)) %></h2>

<table class="table table-striped contributors">
  <thead>
    <tr>
      <th><%= t('.table.institution') %></th>
      <th><%= t('.table.country') %></th>
      <th class="text-right"><%= t('.table.collections') %></th>
      <th class="text-right"><%= t('.table.items') %></th>
    </tr>
  </thead>
  <tbody>
    <% contributors.institutions.each do |institution| %>
      <tr>
        <td><%= link_to institution.name, search_action_path(search_state.add_facet_params_and_redirect(contributors.provider_facet_field, institution.name)), class: 'value' %></td>
        <td class="value"><%= institution.countries.join(', ') %></td>
        <td class="text-right"><%= number_with_delimiter(institution.collection_count) %></td>
        <td class="text-right"><%= number_with_delimiter(institution.item_count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
