<h2 class="h3"><%= t('statistics.dashboard.items.total_html', total: number_with_delimiter(items.total)) %></h2>
<div class="row">
  <div class="col-6">
    <table class="table table-striped by-type">
      <thead>
        <tr>
          <th><%= t('statistics.dashboard.items.by_type') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% items.by_type.each do |field| %>
          <% facet_config = facet_configuration_for_field(items.type_facet) %>
          <% item_presenter = facet_item_presenter(facet_config, field['display_value'], items.type_facet) %>
            
          <tr>
            <td class="<%= class_names('pl-4 indent-with-caret' => field['level'].positive?) %>">
              <%= link_to search_action_path(search_state.add_facet_params_and_redirect(items.type_facet, field['value'])), class: 'value' do %>
                <%= item_presenter.label %>
              <% end %>
            </td>
            <td class="text-right"><%= number_with_delimiter(field['count']) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <table class="table table-striped by-language">
      <thead>
        <tr>
          <th><%= t('statistics.dashboard.items.by_language') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% items.by_language.each do |field| %>
          <% facet_config = facet_configuration_for_field(items.language_field) %>
          <% item_presenter = facet_item_presenter(facet_config, field['value'], items.language_field) %>

          <tr>
            <td>
              <%= link_to search_action_path(search_state.add_facet_params_and_redirect(items.language_facet_field, field['value'])), class: 'value' do %>
                <%= item_presenter.label %>
              <% end %>
            </td>
            <td class="text-right"><%= number_with_delimiter(field['count']) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
