<h1 class="page-title h2"><%= t('statistics.header') %></h1>

<div class="d-none d-md-flex card-deck text-center">
  <div class="jumbotron card">
    <h2 class="h4">
      <%= t('statistics.dashboard.header.total_collections', count: @statistics_dashboard.collections.total, formatted_count: number_with_delimiter(@statistics_dashboard.collections.total)) %>
    </h2>
    <hr class="my-4">
    <p>
      <%= t('statistics.dashboard.header.total_item_contributors', count: @statistics_dashboard.item_contributors.total, formatted_count: number_with_delimiter(@statistics_dashboard.item_contributors.total)) %>
    </p>
  </div>

  <div class="jumbotron card">
    <h2 class="h4">
      <%= t('statistics.dashboard.header.total_items', count: @statistics_dashboard.items.total, formatted_count: number_with_delimiter(@statistics_dashboard.items.total)) %>
    </h2>
    <hr class="my-4">
    <p>
      <%= t('statistics.dashboard.header.total_types', count: @statistics_dashboard.items.by_type.count, formatted_count: number_with_delimiter(@statistics_dashboard.items.by_type.count)) %>
    </p>
  </div>

  <div class="jumbotron card">
    <h2 class="h4">
      <%= t('statistics.dashboard.header.total_item_contributors', count: @statistics_dashboard.item_contributors.total, formatted_count: number_with_delimiter(@statistics_dashboard.item_contributors.total)) %>
    </h2>
    <hr class="my-4">
    <p>
      <%= t('statistics.dashboard.header.total_countries', count: @statistics_dashboard.item_contributors.total_countries, formatted_count: number_with_delimiter(@statistics_dashboard.item_contributors.total_countries)) %>
    </p>
  </div>

  <div class="jumbotron card">
    <h2 class="h4">
      <%= t('statistics.dashboard.header.total_data_contributors', count: @statistics_dashboard.data_contributors.total, formatted_count: number_with_delimiter(@statistics_dashboard.data_contributors.total)) %>
    </h2>
    <hr class="my-4">
    <p>
      <%= t('statistics.dashboard.header.total_countries', count: @statistics_dashboard.data_contributors.total_countries, formatted_count: number_with_delimiter(@statistics_dashboard.data_contributors.total_countries)) %>
    </p>
  </div>
</div>

<hr />

<%= render @statistics_dashboard.items %>

<hr />

<%= render @statistics_dashboard.item_contributors %>

<hr />

<%= render @statistics_dashboard.data_contributors %>
