<span class="background-container-gradient"></span>
<nav class="navbar navbar-expand navbar-dark topbar" role="navigation" aria-label="<%= t('spotlight.topbar.label') %>">
  <div class="<%= container_classes %>">
    <%= link_to main_app.root_url, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', class: 'dlme-logo', alt: '', role: 'presentation' %>
      <%= t('application_name') %>
    <% end %>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="<%= t :toggle_nav %>">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render partial: 'shared/user_util_links' %>
    </div>
  </div>
</nav>
