<% if show_contact_form? %>
  <div id="report-problem-form">
    <%= render 'spotlight/shared/report_a_problem' %>
  </div>
<% end %>

<%- masthead_navbar = capture do %>
  <% if content_for? :masthead_navbar %>
    <%= content_for :masthead_navbar %>
  <% elsif current_exhibit %>
    <%= render 'shared/exhibit_navbar' %>
  <% else %>
    <%= render 'shared/site_navbar' %>
  <% end %>
<% end %>

<header class="masthead <%= 'image-masthead' if current_masthead %> <%= 'resource-masthead' if resource_masthead? %>" role="banner">
  <% if current_masthead %>
    <span class='background-container' style="background-image: url('<%= current_masthead.iiif_url %>')"></span>
  <% end %>

  <%= render partial: 'shared/header_navbar_masthead' %>


  <%= masthead_navbar unless resource_masthead? %>
</header>

<%= render 'shared/breadcrumbs' unless resource_masthead? %>
