<div id="content" class="col-md-9 exhibit-admin">

  <%= page_title t(:'data.section') %>
  <%= button_to 'Begin new harvest', harvests_path, class: "btn btn-primary",
                                                    style: "position: absolute; top: 0; right:0" %>

  <% pipelines = Pipeline.all.pluck(:id, :name).to_h %>
  <table class="table">
    <caption>Files imported in each pipeline.</caption>
    <thead>
      <tr>
        <th>When</th>
        <th style="text-align: center">Total</th>
        <% pipelines.each do |_, name| %>
          <th style="text-align: right"><%= name.humanize %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @harvests.order('created_at desc').each do |harvest| %>
      <tr>
        <td><%= time_ago_in_words harvest.created_at %> ago</td>
        <td style="text-align: right"><%= harvest.harvested_resources.count %></td>
        <% pipelines.each do |id, _| %>
          <td style="text-align: right"><%= harvest.harvested_resources.where(pipeline_id: id).count %></td>
        <% end %>
        <td style="text-align: right"><%= button_to "Transform to Resources", transform_harvest_path(harvest), class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<aside class="col-md-3">
  <%= render "shared/site_sidebar" %>
</aside>
