<% if document.iiifable? %>
  <%= render_document_partial(document, 'mirador') %>
  <%= render 'show', document: document %>
<% elsif document.embeddable? %>
  <%= render_document_partial(document, 'oembed') %>
  <%= render 'show', document: document %>
<% elsif document.openseadragonable? %>
  <%= render_document_partial(document, 'openseadragon') %>
  <%= render 'show', document: document %>
<% elsif (thumbnail = document_presenter(document).thumbnail) && thumbnail.exists? %>
  <div class="row">
    <div class="thumbnail-viewer col-12 col-md-4">
      <%= link_to document.first('agg_is_shown_at.wr_id_ssim').presence || '#' do %>
        <figure class="figure">
          <%= thumbnail.render(class: 'figure-img img-fluid') %>
          <figcaption class="figure-caption text-center"><%= t('.view_on_contributor_website') %></figcaption>
        </figure>
      <% end %>
    </div>
    <div class="metadata col-12 col-md-8">
      <%= render 'show', document: document %>
    </div>
  </div>
<% end %>
