<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>
<%= configuration_page_title %>

<h1>Sources</h1>
<h2><%= @resource.url %></h2>
<p>Last updated: <time datetime="<%= @resource.updated_at %>"><%= l @resource.updated_at, format: :short %></time></p>
<pre><%= JSON.pretty_unparse @resource.json %></pre>
<%= link_to "Edit",
            [:edit, current_exhibit, @resource],
            class: 'btn btn-secondary' %>
<%= button_to "Delete",
              [current_exhibit, @resource],
              method: :delete,
              class: 'btn btn-danger',
              data: { confirm: 'Are you sure you want to destroy this source?' } %>
