<% # Overridden from Spotlight to change markup around reporting_from text. We might be able to remove this override with a better seam %>
<% # Copied from spotlight 3.0.0.rc2 %>
<div class="container">
  <div class="row justify-content-center">
    <% contact_form ||= Spotlight::ContactForm.new current_url: request.original_url.force_encoding('UTF-8') %>
    <%= bootstrap_form_for contact_form, url: spotlight.exhibit_contact_form_path(current_exhibit, contact_form), layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9', html: { class: 'col-md-offset-2 col-md-8 my-3', data: { turbo: false } } do |f| %>
      <h2><%= t(:'.title') %></h2>
      <div class="mb-5 text-left">
        <%= t('.reporting_from') %>
      </div>
      <%= f.text_area :message, rows: 4 %>
      <%= f.text_field :name %>
      <%= render '/spotlight/shared/honeypot_field', f: f %>
      <%= f.email_field :email %>
      <div class="row">
        <div class="form-group col-sm-9 offset-sm-3">
          <p class="mt-2 mb-0">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
        </div>
      </div>
      <%= f.hidden_field :current_url %>
      <%= recaptcha_v3(action: 'feedback', inline_script: false) %>
      <script type="text/javascript">
        document.addEventListener('turbo:before-cache', function() {
          const recaptchaElement = document.querySelector('.g-recaptcha');
          if (recaptchaElement) {
            recaptchaElement.innerHTML = '';
          }
        });
        document.forms.new_contact_form.addEventListener('submit', async function(e) {
          e.preventDefault();
          if (typeof grecaptcha !== 'undefined' && grecaptcha) {
            const response = await grecaptcha.execute("<%= Recaptcha.configuration.site_key %>", { action: 'feedback' });
            const element = document.getElementById('g-recaptcha-response-data-feedback');
            if (element) element.value = response;
          }
          this.submit();
        });
      </script>
      <div class="form-actions row">
        <div class="col offset-sm-3">
          <%= f.submit nil, class: 'btn btn-primary' %>
          <%= link_to t(:'helpers.action.cancel'), '#', class: 'btn-sizing', data: { 'behavior' => 'cancel-link' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
