<div id="content" class="col-md-9">
  <h1>Transform results</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Url</th>
        <th scope="col">Data path</th>
        <th scope="col">Result</th>
        <th scope="col">Records</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Duration (secs)</th>
        <th scope="col">Errors</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |n| %>
        <tr>
          <th scope="row"><a href="<%= n.url %>"><%= n.url %></a></th>
          <td><%= n.data_path %></td>
          <td><%= n.success ? 'Success' : 'Failed' %></td>
          <td><%= n.records %></td>
          <td><%= n.timestamp.strftime("%Y-%m-%d %H:%m") %></td>
          <td><%= n.duration %></td>
          <td><%= n.error %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
